$primary-color: #051367;
$black: #000000;
$white: #ffffff;
$light-green: #00c897;
$orange: #fe7f02;



$lg: linear-gradient(to top, #fc4a1a, #f7b733)



// $accent-color: #BB6BD9;
// $success-color: #27ae60;
// $warning-color: #F2C94C;
// $error-color: #c01414;
// $info-color: #1bb4d6;
// $background-color: #f9f9f9;
// $background-color2: #f4f4f4;
// $grey: #C0C0C0;
// $text-color: #2f2f2f;
// $link-color: #9b59b6;

